<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/WG rodamientos.css">
    <title>WG Rodamientos</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <header>
        <div class="container">
            <p class="logo">
            <h1>WG Rodamientos</h1>
            <nav>
                <a href="#caracteristicas">Productos</a>
                <a href="#nosotros">Caracteristicas</a>
                <a href="#somos-WG">Nosotros</a>
            </nav>
            </p>
        </div>
    </header>

    <section id="hero">
        <h1 class="portada">Los mejores <br>del mercado</h1>
        <button>Conoce mas</button>
    </section>

    <section id="somos-WG">
        <div class="container">
            <div class="img-container">
                <div class="texto">
                    <h2>Somos <span class="color-acento"> WG Rodamientos </span> </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis officia nulla, facilis enim,
                        commodi
                        libero harum inventore, praesentium nostrum vel distinctio adipisci fugit minus consectetur
                        blanditiis neque officiis quasi alias.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <h2>Nuestras Opciones</h2>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img src="/images/imagen prueba 1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Asesoramiento guiado</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button>+Info</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/imagen prueba 2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Negociación</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button>+Info</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/Rulemanes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Productos de calidad</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button>+Info</button>
                </div>
            </div>
        </div>
    </section>

    <section id="nosotros">
        <div class="container">
            <ul>
                <li>✔️Compras 100% online</li>
                <li>✔️Seguridad</li>
                <li>✔️Precios competitivos</li>
            </ul>
        </div>
    </section>

    <section id="compra-ya">
        <h2>Comprá ya</h2>
        <button id="button">Comprá aca</button>
    </section>
</body>

</html>